<style>
  .list-group-item {
    margin-left: 0;
    padding-left: 0;
  }
</style>

<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign experience = data[1] | sort: 'startDate' | reverse %}
  {% for content in experience %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 d-flex flex-column align-items-start">
          {% if content.startDate %}
            {% assign startDate = content.startDate | split: '-' | slice: 0, 2 | join: '.' %}
            {% assign endDate = content.endDate | split: '-' | slice: 0, 2 | join: '.' | default: 'Present' %}
            {% assign date = startDate | append: ' - ' %}
            {% assign date = date | append: endDate %}
          {% else %}
            {% assign date = '' %}
          {% endif %}
          {% if date %}
            <span class="badge font-weight-bold danger-color-dark text-uppercase mb-2"> {{ date }} </span>
          {% endif %}
          {% if content.location %}
            <p class="location m-0">
              <i class="fa-solid fa-location-dot iconlocation"></i>
              {{ content.location }}
            </p>
          {% endif %}
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9">
          <h6 class="title font-weight-bold">{{ content.position }}</h6>
          <h6 style="font-size: 0.75rem">{{ content.organization }}</h6>
          <h6 style="font-size: 0.95rem; font-style: italic">{{ content.summary }}</h6>
          <ul class="items">
            {% for item in content.highlights %}
              <li>
                <span class="item">{{ item }}</span>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
